@{
    ViewData["Title"] = "Enrollment Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Contoso University Enrollment</h2>
        <img id="contoso-pic" src="~/images/architecture-buildings-campus-220351.jpg" alt="Contoso University Campus Building"/>
    </div>
</div>